<footer class="about">
    <a href="https://github.com/suhankins/get-spotify-song-name" target="_blank">Github</a>.
    Icons by <a href="https://heroicons.com/" target="_blank">Heroicons</a>.
    This website is not affiliated with Spotify.
</footer>

<style>
    .about {
        text-align: center;
        margin-bottom: 1rem;
    }
</style>
