<div class="about">
    <a href="https://github.com/suhankins/copy-spotify-song-name">Github</a>.
    This website is not affiliated with Spotify.
</div>

<style>
    .about {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
</style>
