---
import CopyButton from './CopyButton.astro';

interface Props {
    title: string;
    artist: string;
    cover: string;
    copyString: string;
}

const { title, artist, cover, copyString } = Astro.props;
---

<article class="card" role="region" aria-live="polite">
    <img class="image" src={cover} data-song-cover alt="" />
    <div class="info">
        <p class="title">
            <span class="sr-only">Title:</span>
            <span data-song-title>{title}</span>
        </p>
        <p class="artist">
            <span class="sr-only">Artist:</span>
            <span data-song-artist>{artist}</span>
        </p>
    </div>
    <CopyButton text={copyString} />
</article>

<style>
    .card {
        max-width: 100%;
        min-width: 400px;
        background-color: #181818;
        border-radius: 1rem;
        display: flex;
        place-items: flex-start;
        flex-direction: row;
        padding: 1rem;
    }

    .image {
        width: 8rem;
        height: 8rem;
    }

    .info {
        padding-left: 1rem;
        padding-right: 0.5rem;
    }

    .info > * {
        overflow-wrap: anywhere;
        word-break: break-word;
        margin: 0;
    }

    .title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .artist {
        font-size: 1rem;
        font-weight: 500;
    }

    @media screen and (max-width: 500px) {
        .card {
            max-width: 375px;
            flex-direction: column;
            gap: 1rem;
        }

        .image {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
        }

        .info {
            padding-left: 0;
            padding-right: 0;
        }
    }
</style>
