<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Tool to copy Spotify song name from share link"
        />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="apple-touch-icon"
            href="/apple-touch-icon.png"
            sizes="180x180"
        />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="manifest" href="manifest.json" />
        <meta name="theme-color" content="#1ed760" />
        <meta name="generator" content={Astro.generator} />
        <title>Get Spotify Song Name</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: dark;
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;
        background-image: linear-gradient(
            to bottom,
            #1ed7605e 0%,
            #0ff0 30% 100%
        );

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }

    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
        min-width: 320px;
        min-height: 100vh;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
</style>
